@use 'global' as *;

.p-quality-semiOrder {
	background: #fff;
	padding-top: rem(54);
	@include mq('md') {
		padding-top: rem(109);
	}
}
.p-quality-semiOrder__content {
	margin-top: rem(54);
	@include mq('md') {
		margin-top: rem(48);
	}
}
.p-quality-semiOrder__lead {
	display: block;
	width: 100%;
	font-size: rem(16);
	line-height: 2;
	text-align: center;
	color: #1a1a1a;
	margin-inline: auto;
	@include mq('md') {
		max-width: rem(460);
	}
}
.p-quality-semiOrder__cards {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-gap: rem(74) 0px;
	justify-items: center;
	margin-top: rem(107);
	@include mq('md') {
		grid-template-columns: repeat(3, 1fr);
		grid-gap: rem(100) rem(30);
		margin-top: rem(102);
	}
}
.p-quality-semiOrder__card {
	display: block;
	max-width: rem(380);
	width: 100%;
	background: #ebebeb;
	position: relative;
	@include mq('md') {
	}
}
.p-quality-semiOrder__cardNumWrapper {
	position: absolute;
	content: '';
	top: rem(-45);
	left: 50%;
	transform: translateX(-50%);
	background: #ebdd21;
	width: rem(90);
	height: rem(90);
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: $second-font-family;
	text-align: center;
	color: #fff;
	@include mq('md') {
	}
}
.p-quality-semiOrder__cardNum {
	font-size: rem(16);
	line-height: 1.1;
	@include mq('md') {
	}
}
.p-quality-semiOrder__cardNum-big {
	display: block;
	font-size: rem(31);
	line-height: 1.3;
	@include mq('md') {
	}
}
.p-quality-semiOrder__cardImg {
	max-width: rem(380);
	width: 100%;
	@include mq('md') {
	}
}
.p-quality-semiOrder__cardBody {
	text-align: center;
	padding: 0 rem(28) rem(25);
	@include mq('md') {
		padding: 0 rem(30) rem(22);
	}
}
.p-quality-semiOrder__cardTitle {
	font-size: rem(23);
	font-weight: 300;
	line-height: 1.57;
	text-align: center;
	color: #1a1a1a;
	@include mq('md') {
		line-height: 1.75;
		font-size: rem(21);
	}
}
.p-quality-semiOrder__cardPrice {
	background: #fff;
	max-width: rem(180);
	width: 100%;
	border-radius: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin: rem(8) auto 0;
	@include mq('md') {
		max-width: rem(200);
		padding: 0 rem(30) 0 rem(20);
		margin: rem(10) auto 0;
	}
}
.p-quality-semiOrder__cardPrice-zeikomi {
	font-size: rem(12);
	font-weight: bold;
	line-height: 1.38;
	text-align: left;
	color: #1a1a1a;
	margin-right: rem(2);
	white-space: nowrap;
	@include mq('md') {
	}
}
.p-quality-semiOrder__cardPrice-price {
	display: inline-block;
	font-size: rem(25);
	line-height: 2;
	text-align: left;
	color: #1a1a1a;
	letter-spacing: -0.01em;
	white-space: nowrap;
	@include mq('md') {
	}
}
.p-quality-semiOrder__cardList {
	background: #fff;
	margin-top: rem(20);
	padding: rem(14) 0 rem(16);
	@include mq('md') {
		padding: rem(16) 0;
		margin-top: rem(24);
	}
}
.p-quality-semiOrder__cardItem {
	font-size: rem(16);
	line-height: 2;
	text-align: center;
	color: #1a1a1a;
	@include mq('md') {
	}
}
.p-quality-semiOrder__cardBtnWrapper {
	text-align: center;
	margin-top: rem(18);
	@include mq('md') {
		margin-top: rem(22);
	}
}
.p-quality-semiOrder__cardbtn {
	display: inline-block;
	max-width: rem(200);
	width: 100%;
	background: #000;
	font-size: rem(18);
	font-weight: bold;
	line-height: 1.18;
	text-align: center;
	color: #fff;
	position: relative;
	cursor: pointer;
	@include mq('md') {
	}
}
.p-quality-semiOrder__cardbtn::before {
	content: '';
	display: inline-block;
	vertical-align: middle;
	height: rem(49);
	@include mq('md') {
		height: rem(54);
	}
}
.p-quality-semiOrder__cardbtn::after {
	position: absolute;
	content: '';
	top: 40%;
	transform: translateY(-50%);
	right: rem(28);
	width: rem(13);
	height: rem(13);
	border-top: rem(3) solid #fff;
	border-right: rem(3) solid #fff;
	transform: rotate(45deg);
	transition: all 0.5s;
	@include mq('md') {
	}
}
.p-quality-semiOrder__cardbtn:hover::after {
	animation: slideOutX 0.75s ease;
}

// overlay
.p-quality-semiOrder__overLay {
	background: #707070;
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 50;
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s;
	cursor: pointer;
	@include mq('md') {
	}
}
.p-quality-semiOrder__overLay.is-active {
	opacity: 1;
	visibility: visible;
}
