@use 'global' as *;

.p-top-fv {
	width: 100%;
	height: calc(100vh - rem(60)); // 画面の高さからヘッダーの高さを引く
	@include mq('md') {
		height: calc(100vh - rem(156));
	}
}
.p-top-fv__container {
	position: relative;
	overflow: hidden;
}
.p-top-fv-slider {
	width: 100%;
	@include mq('md') {
	}
}
.p-top-fv__slide {
	width: 100%;
	@include mq('md') {
	}
}
.p-top-fv__slide-img {
	width: 100%;
	@include mq('md') {
	}
}
.p-top-fv__slide-img-lg,
.p-top-fv__slide-img-sm {
	object-fit: cover;
	width: 100%;
	height: calc(100vh - rem(60));
	@include mq('md') {
		height: calc(100vh - rem(156));
	}
}
.p-top-fv__content {
	position: absolute;
	max-width: rem(110);
	width: 100%;
	top: 10%;
	// top: rem(130);
	left: 50%;
	transform: translateX(-50%);
	z-index: 10;
	@include mq('md') {
		max-width: rem(304);
		width: calc(304 / 1440 * 100vw);
		top: 15%;
		left: rem(129);
		transform: translateX(0%);
	}
}
.p-top-fv__img-symbol {
	width: 100%;
	@include mq('md') {
	}
}

// スライダー調整用
.p-top-fv__slider-wrapper {
	width: 100%;
	position: relative;
	@include mq('md') {
	}
}
.p-top-fv__slider-pagination .swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
	position: absolute;
	display: inline-block;
	left: 50.5%;
	max-width: rem(70);
	width: 100%;
	transform: translateX(-50%);
	bottom: rem(14);
	z-index: 10;
	@include mq('md') {
		bottom: rem(20);
	}
}
.p-top-fv__slider-pagination .swiper-pagination-bullet {
	background: #fff;
	height: rem(10);
	width: rem(10);
	border-radius: 50%;
}
