@use 'global' as *;

.p-blog {
	padding-top: rem(52);
	@include mq('md') {
		padding-top: rem(86);
	}
}
.p-blog__content {
	margin-top: rem(56);
	@include mq('md') {
		margin-top: rem(48);
	}
}
.p-blog__cards {
	position: relative;
	z-index: 10;
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	// grid-gap: 0px 0px;
	justify-content: center;
	@include mq('md') {
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(3, auto);
		grid-gap: 0px rem(30);
		align-items: stretch;
	}
}
.p-blog__card {
	display: block;
	max-width: rem(315);
	width: 100%;
	cursor: pointer;
	margin-inline: auto;
	margin-top: rem(55);
	@include mq('md') {
		max-width: rem(380);
		margin-top: rem(60);
	}
}
.p-blog__cardImgWrapper {
	max-width: rem(315);
	width: 100%;
	position: relative;
	background: #d5d5d5;
	display: flex;
	align-items: center;
	justify-content: center;
	@include mq('md') {
		max-width: rem(380);
	}
}
.p-blog__cardImgWrapper::before {
	content: '';
	display: block;
	padding-top: 66.5789%;
}
.p-blog__cardImg {
	max-width: rem(315);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	object-fit: cover;
	@include mq('md') {
		max-width: rem(380);
	}
}
/* 画像がないときのロゴのみサムネイル from */
.p-blog__cardImgWrapperNone {
	max-width: rem(315);
	width: 100%;
	background: #d5d5d5;
	position: static;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: rem(22) rem(34);
	@include mq('md') {
		max-width: rem(380);
		padding: rem(51) rem(77);
	}
}
.p-blog__cardImgWrapperNone::before {
	content: '';
	display: block;
	padding-top: 66.5789%;
}
.p-blog__cardImgNone {
	position: static;
	max-width: rem(225);
	width: 100%;
	height: 100%;
}
/* 画像がないときのロゴのみサムネイル to */
.p-blog__cardMainTitle {
	font-size: rem(21);
	font-weight: bold;
	color: #1a1a1a;
	letter-spacing: 0.25em;
	margin-top: rem(25);
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	@include mq('md') {
		font-size: rem(25);
		margin-top: rem(16);
	}
}
.p-blog__cardDate {
	font-size: rem(16);
	color: #4d4d4d;
	letter-spacing: 0.2em;
	margin-top: rem(9);
	@include mq('md') {
		margin-top: rem(22);
	}
}
.p-blog__paginationWrapper {
	display: flex;
	align-items: center;
	justify-content: left;
	margin-top: rem(112);
	@include mq('md') {
		justify-content: center;
		margin-top: rem(122);
	}
}
.p-blog__pagination {
	font-size: rem(18);
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	text-align: center;
	color: #1a1a1a;
	border: solid 3px #000;
	cursor: pointer;
	margin-right: rem(20);
	width: rem(60);
	height: rem(60);
	@include mq('md') {
	}
}
